<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black  mb-3" id="total-users">
                <div class="card-header">
                    <h5 class="card-title">Total Users</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_users}}</h3>
                </div>
            </div>
        </div>
    </div>
                
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black  mb-3" id="total-tags">
                <div class="card-header">
                    <h5 class="card-title">Total Tags</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_tags}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
                
                    